<?xml version="1.0" encoding="UTF-8"?> 
<web-app version="2.5" 
         xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 
	<display-name>Archetype Created Web Application</display-name>
  
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>
        		org.springframework.web.context.support.AnnotationConfigWebApplicationContext
		</param-value>
	</context-param>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>com.tdil.d2d.config</param-value>
	</context-param>
	
	<!-- context-param>
		<param-name>contextInitializerClasses</param-name>
		<param-value>com.marcablanca.classifier.config.WebInitializer</param-value>
	</context-param>-->

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<context-param>
         <param-name>quartz:config-file</param-name>
         <param-value>quartz.properties</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:shutdown-on-unload</param-name>
         <param-value>true</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:wait-on-shutdown</param-name>
         <param-value>true</param-value>
     </context-param>
     <context-param>
         <param-name>quartz:start-on-load</param-name>
         <param-value>true</param-value>
     </context-param>
     
     <listener>
         <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
     </listener>

	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<init-param>
			<param-name>contextClass</param-name>
			<param-value>
				org.springframework.web.context.support.AnnotationConfigWebApplicationContext
			</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/api/*</url-pattern>
		<url-pattern>/admin/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>ESAPIWebApplicationFirewallFilter</filter-name>
		<filter-class>org.owasp.esapi.waf.ESAPIWebApplicationFirewallFilter</filter-class>
		<init-param>
			<param-name>log_settings</param-name>
			<param-value>/WEB-INF/log4j-waf.xml</param-value>
		</init-param>
		<init-param>
			<param-name>configuration</param-name>
        	<param-value>/WEB-INF/waf-policy.xml</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>ESAPIWebApplicationFirewallFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	

	<filter>
		<filter-name>ReqRespDumpFilter</filter-name>
		<filter-class>com.tdil.d2d.web.ReqRespDumpFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ReqRespDumpFilter</filter-name>
		<url-pattern>/api/*</url-pattern>
	</filter-mapping>

	<!--welcome-file-list>
		<welcome-file>WEB-INF/views/index.jsp</welcome-file>
	</welcome-file-list-->
	
	    
    
<!--     <servlet> -->
<!--         <servlet-name>springMvc</servlet-name> -->
<!--         <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> -->
<!--         <load-on-startup>1</load-on-startup> -->
<!--     </servlet> -->
	
</web-app>
